In [49]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [31]:
#Save url as variable
url = "https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue"
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) "
                  "AppleWebKit/537.36 (KHTML, like Gecko) "
                  "Chrome/120.0.0.0 Safari/537.36"
}

#Request page
page = requests.get(url, headers = headers)

#Parser the requested page
soup = BeautifulSoup(page.content, "html.parser")

In [32]:
#Get table´s title through the id
table_title = soup.find(id = "List_of_the_largest_public_/_publicly_traded_companies").get_text().strip()
table_title

'List of the largest public / publicly traded companies'

In [34]:
#Get table content. I found a "table" section with the class specifier because there are more than two tables
table_content = soup.find('table', class_="wikitable sortable")

In [47]:
#Get columns titles
column_titles = table_content.find_all("th")
fixed_column_titles = [title.get_text().strip() for title in column_titles]
fixed_column_titles

['Rank',
 'Name',
 'Industry',
 'Revenue (USD millions)',
 'Revenue growth',
 'Employees',
 'Headquarters']

In [51]:
#Create column titles in a pandas DataFrame based on the previously found column_titles
df = pd.DataFrame(columns = fixed_column_titles)
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [62]:
#Get every data in the table
table_data = table_content.find_all("tr")
row_index = 0
#Get data for every specific row
#The first index of the list is Null so I start the loop with the index 1
for row in table_data[1:]:
    row_data = [data.get_text().strip() for data in row.find_all("td")]

    #Insert found data to the DataFrame
    df.loc[row_index] = row_data
    row_index += 1

In [63]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"680,985",5.1%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"637,959",11.0%,"1,556,000","Seattle, Washington"
2,3,UnitedHealth Group,Healthcare,"400,278",7.7%,"400,000","Minnetonka, Minnesota"
3,4,Apple,Electronics industry,"391,035",2.0%,"164,000","Cupertino, California"
4,5,CVS Health,Healthcare,"372,809",4.2%,"259,500","Woonsocket, Rhode Island"
...,...,...,...,...,...,...,...
95,96,General Dynamics,Aerospace and defense,"47,716",12.9%,"117,000","Reston, Virginia"
96,97,Coca-Cola,Beverage,"47,061",2.9%,"69,700","Atlanta, Georgia"
97,98,TIAA,Financials,"46,946",2.6%,"15,623","New York City, New York"
98,99,The Travelers Companies,Insurance,"46,423",12.2%,"34,000","New York City, New York"
99,100,Eli Lilly,Pharmaceutical industry,"45,043",32.0%,"47,000","Indianapolis, Indiana"

In [65]:
#Export the created table as a CSV to my desired location
df.to_csv(r'D:\DataAnalystBootcamp\Python\Web Scrapping\Companies.csv', index = False)